.form-area {
    margin-top: 4rem;

    .switch-plan {
        width: fit-content;
        display: flex;
        background-color: #27272A;
        border-radius: 0.5rem;
        padding: 0.3rem;

        .visit-card,
        .portfolio {
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            user-select: none;
            cursor: pointer;

            &.active {
                background-color: #09090b;
                color: #fff;
            }
        }
    }
}