.btn-default {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 0.5rem;
    background-color: white;
    cursor: pointer;
}