.education-experience-item {
    border: 2px solid var(--secondary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;

    .label {
        font-size: 24px;
        font-weight: bold;
        color: var(--secondary-color);
    }

    .subtitle {
        font-weight: bold;
        color: var(--text-color);
    }

    .period,
    p {
        color: var(--text-color);
    }
}