.social-media-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
        display: flex;
        gap: 1rem;
        align-items: center;

        .checkbox {
            width: 2rem;
            height: 2rem;
            border: 1px solid #fff;
            cursor: pointer;
            border-radius: 0.25rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    span {
        display: none;
    }
}

@media screen and (min-width: 1040px) {
    .social-media-item .item span {
        display: block;
    }
}